body{
    text-align: center;
    background: linear-gradient(to right,#0F2027,#203A43);
}
.container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1,h2{
    padding: 30px 0;
 text-transform: uppercase;
 letter-spacing: 4px;
}
